system_ext/priv-app/TranSettings/TranSettings.apk
system_ext/app/TranssionCamera/TranssionCamera.apk
system/system/apex/com.android.vndk.current.apex
product/operator/app/MViCall/MViCall.apk
product/priv-app/Velvet/Velvet.apk
super.img
